$--color-primary: #409EFF !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

$--font-path: '../../../../node_modules/element-plus/theme-chalk/src/fonts';

@import "../../../../node_modules/element-plus/theme-chalk/src/index";
